{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/form.css' %}" />
  <link rel="stylesheet" href="{% static 'css/helmets/helmet-detail.css' %}" />
{% endblock %}
{% block content %}
  <div class="add-helmet-page">
    <div class="add-helmet-header">
      {% if object %}
        <h1 style="margin: 0;">Edit {{ object.name }}</h1>
      {% else %}
        <h1 style="margin: 0;">Add a Helmet</h1>
      {% endif %}
      <img src="{% static 'images/Helmet-icon.png' %}" alt="Helmet icon" class="helmet-img" />
    </div>
  <form action="" method="post" enctype="multipart/form-data" class="form-container" autocomplete="off">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <button type="submit" class="btn submit">Submit!</button>
    </form>
  </div>
{% endblock %}