{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block content %}
<section class="logo-container">
  <div class="logo-image">
    <img
      src="{% static 'images/F1-Logo.png' %}"
      alt="Driver Collector Logo"
    />
  </div>
  <h1 class="logotype">Driver Collector</h1>
  <div class="team-logos-row">
    <img src="{% static 'images/RedBull-Logo.png' %}" alt="Red Bull Racing" class="team-logo" />
    <img src="{% static 'images/Ferrari-Logo.png' %}" alt="Ferrari" class="team-logo" />
    <img src="{% static 'images/Mercedes-Logo.png' %}" alt="Mercedes" class="team-logo" />
    <img src="{% static 'images/McLaren-Logo.png' %}" alt="McLaren" class="team-logo" />
    <img src="{% static 'images/Haas-Logo.png' %}" alt="Haas F1 Team" class="team-logo" />
    <img src="{% static 'images/Alpine-Logo.png' %}" alt="Alpine F1 Team" class="team-logo" />
    <img src="{% static 'images/Aston-Logo.png' %}" alt="Aston Martin" class="team-logo" />
    <img src="{% static 'images/KickSauber-Logo.png' %}" alt="Kick Sauber" class="team-logo" />
  </div>
</section>
{% endblock %}