.card-flex {
    display: flex;
    align-items: center;
}

.card-img-container {
    flex: 0 0 auto;
    margin-right: 16px;
}

.card-img-container img {
    max-width: 40px;
    max-height: 40px;
    width: auto;
    height: auto;
    display: block;
    object-fit: contain;
    padding: 2px;
}

.card-text {
    flex: 1 1 auto;
}

.card-container {
    padding: 30px 0 0 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: flex-start;
}

.card {
    width: 275px;
    margin: 10px;
    border: var(--borders);
    box-shadow: var(--card-box-shadow);
}

.card-content {
    padding: 10px;
    width: 100%;
}

.usr-img {
    width: 100%;
    border-radius: var(--card-border-radius);
}

.card>a {
    text-decoration: none;
    color: var(--text-color);
}

.card h2 {
    margin: 10px 0;
    font-size: var(--font-xl);
}

.card p {
    margin: 5px 0;
    font-size: var(--font-reg);
}